body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	background: url('../images/bg-dark.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	float: left;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	float: left;
	border: 1px solid green;
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}

/*
.js-container img {
	display: inline-flex;
}*/

@media only screen and (max-width: 1060px) {
	
	body {
	width: 100%;
	}

/*	.js-go {
		float: right;
	}

	.container-marginleftright {
		margin-left: 20px;
		margin-right: 20px;
	}*/

	.container-button {
	padding: 20px;
	border-radius: 50px;
	float: right;
	}
}